/* For Desktop and Tablet */
@media (min-width: 640px) {
    .main-widget{
        margin: 0 auto;
        position: absolute;
        width: 100%;
    }
    .widget-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        width: 200px;
        height: 200px;
        position: absolute;
        left: 250px;
    }
    .widget-disclosure{
        position: relative;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.5rem;
        font-weight: bold;
        color: #8b8989;
        left:  800px;
        top: 50px;
        margin-bottom: 20px;
    }
    .widget-disclosure img {
        width: 20px;
        height: auto;
        object-fit: cover;
        margin-bottom: 10px;
    }
    .widget-header {
        color: #8b8989;
        margin-left: 250px;
        position: relative;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.7rem;

        top : 15px;
    }

    .widget-item {
        width: 200px;
        padding: 23px;
        position: relative;
        text-align: center;
        border: 1px solid #f0eded;
    }

    
    .widget-item h3 {
        font-size: 1rem;
        font-weight: bold;
        color: #000;
        margin: 10px 0;
        text-align: left;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    .widget-item .buttonoverlap{
        position: absolute;
        display: none;
        z-index: 1;
        background-color: #4b4b4b; 
    }

    .widget-item:hover .buttonoverlap{ 
        display:block;
    }
  

    .widget-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .widget-item p {
        font-size: 0.8rem;
        color: #666;
        margin: 0;
    }

    .widget-item .branding {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    .widget-item .title{
        font-size: 1rem;
        font-weight: bold;
        color: #000;
        margin: 10px 0;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
                line-clamp: 3; 
        -webkit-box-orient: vertical;
    } 

 }
    


    /* For Smartphones */
@media (max-width: 640px) {
    .main-widget {
        width: 100%;
        margin: 0 auto;
        position: absolute;
    }
  .widget-header {
        margin-left: 0;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.5rem;
        color: #676363;
    }
    .widget-body {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        width: 100%;
        margin: 0 auto;
    }
    
    .widget-item {
        width: 80%;
        padding: 23px;
        text-align: center;
        text-align: center;
        border: 1px solid #f0eded;
    }
    
    .widget-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    .widget-item h3 {
        font-size: 1rem;
        font-weight: bold;
        color: #000;
        margin: 10px 0;
    }
    
    .widget-item p {
        font-size: 0.8rem;
        color: #666;
        margin: 0;
    }

    .widget-item .title{
        font-size: 1rem;
        font-weight: bold;
        color: #000;
        margin: 10px 0;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; 
                line-clamp: 3; 
        -webkit-box-orient: vertical;
    }
    .widget-disclosure{
        position: relative;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.5rem;
        font-weight: bold;
        color: #676363;
        left: 250px;
        top:  25px;
    }
    .widget-disclosure img {
        width: 20px;
        height: auto;
        margin-bottom: 10px;
    }
    .widget-item .buttonoverlap{
        position: absolute;
        display: none;
        z-index: 1;
        background-color: #4b4b4b; 
    }
    .widget-item:hover .buttonoverlap{ 
        display:block;
    }
}